<aside class="bg-dark h-screen w-40 md:w-60">
  <div class="flex justify-between items-center">
    <h3 class="font-bold text-red text-xl p-5">NgGifs</h3>
    <shared-button class="mr-5" [text]="'Clean'" (click)="clean()"></shared-button>
  </div>
  <hr />
  <div class="p-5">
    <button
      class="bg-purple text-background font-semibold px-5 py-2 text-left rounded-md w-full mb-2 outline hover:outline-2 hover:outline-purple transition-all"
      *ngFor="let tag of tagsHistory"
      (click)="searchByTag(tag)"
    >
      {{ tag | titlecase }}
    </button>
  </div>
</aside>
